html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
body::-webkit-scrollbar {
  display: none;
}
html {
  width: 100%;
  height: 100%;
}
html body {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
html body .regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
html body .bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
html body .light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
html body #warpMenu {
  background: #ffffff;
  width: 100%;
  height: 100px;
}
html body .wrapper {
  margin: 0 auto;
  width: 96vw;
  position: relative;
}
html body .wrapped {
  margin: 0 auto;
  width: 94vw;
  position: relative;
}
html body .fixed {
  position: fixed;
  top: 0;
  left: 0;
}
html body .full {
  margin: 0 auto;
  width: 96vw;
  z-index: 1;
}
html body .white {
  background-color: #050505;
}
html body .column {
  margin: 0 0%;
}
html body .logo {
  color: #ffffff;
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  width: 70px;
  height: 70px;
  background-size: contain;
  position: absolute;
  left: 0;
}
html body .active {
  color: #050505 !important;
}
html body .menu {
  float: right;
}
html body .menu ul {
  list-style: none;
}
html body .menu ul li {
  float: left;
}
html body .menu ul li a {
  margin: 46px 0 45px 30px;
  font-size: 1em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color: #cccccc;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
html body .mb1 {
  margin-bottom: 20px;
}
html body .mb2 {
  margin-bottom: 40px;
}
html body .left {
  float: left;
}
html body .title h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
html body .blank {
  margin-top: 99px;
  padding-top: 1px;
}
html body .all {
  width: 100%;
}
html body .grid-sizer,
html body .grid-item {
  width: 33.3333333%;
}
html body .grid-item {
  float: left;
}
html body .grid-item-width {
  width: 66.6666666%;
}
html body .item {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #050505;
  border: 1vw solid #050505;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body .item img {
  width: 100%;
  display: block;
}
html body .item:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
html body .empty div {
  height: 16.5vw;
}
html body .info {
  opacity: 0;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
html body .info mark {
  background-color: #ffffff;
  color: #050505;
  font-style: normal !important;
}
html body .info mark::before {
  content: " ";
  white-space: pre;
}
html body .info mark::after {
  content: " ";
  white-space: pre;
}
html body .info h2 {
  font-size: 1.3em;
  text-transform: uppercase;
  color: #050505;
  text-align: left;
  position: relative;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 30px;
}
html body .info h3 {
  font-size: 0.9em;
  text-transform: lowercase;
  color: #050505;
  text-align: left;
  position: relative;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 21px;
}
html body .info:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}
html body .infos {
  position: sticky;
  top: 12%;
}
html body .text {
  width: 30%;
  margin-right: 40px;
  font-weight: 300px;
  font-size: 13px;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  float: left;
}
html body .text a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
}
html body .text a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #ffffff;
}
html body .realisation .title {
  position: fixed;
}
html body .media {
  width: 60%;
  float: right;
}
html body .media img {
  width: 100%;
  margin-top: 50px;
  display: block;
}
html body .media2 {
  width: 30%;
  float: left;
}
html body .media2 img {
  width: 100%;
  display: block;
}
html body .realisation {
  overflow: auto;
}
html body .nofixed .title {
  position: relative;
}
html body footer {
  font-size: 1em;
  color: #cccccc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 3px;
  /*padding: 10px 0;*/
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2vw;
}
@media (max-height: 800px) {
  html body .media {
    width: 55%;
  }
  html body .text {
    width: 40%;
  }
  html body .blank {
    margin-top: 110px;
  }
  html body .mb1 {
    margin-bottom: 10px;
  }
  html body .mb2 {
    margin-bottom: 20px;
  }
  html body footer {
    padding: 30px 0;
  }
}
@media (max-width: 1024px) {
  html body .title h1 {
    font-size: 1.3em;
  }
  html body .grid-sizer,
  html body .grid-item {
    width: 33.33333333%;
  }
  html body .grid-item-width {
    width: 66.66666666%;
  }
  html body .info {
    opacity: 1;
  }
  html body .info h2 {
    font-size: 0.9em;
    line-height: 20px;
  }
  html body .info h3 {
    font-size: 0.75em;
    line-height: 18px;
  }
  html body .infos {
    top: 0%;
    position: relative;
  }
  html body .ninja {
    display: none;
  }
  html body .empty div {
    height: 16.5vw;
  }
  html body .text {
    width: 30%;
    font-size: 12px;
    margin-bottom: 60px;
    margin-right: 10px;
  }
  html body .media {
    width: 60%;
  }
}
@media (max-width: 800px) {
  html body .blank {
    margin-top: 160px;
  }
  html body .menu ul li a {
    margin: 46px 0 45px 18px;
    font-size: 0.9em;
  }
  html body .grid-sizer,
  html body .grid-item {
    width: 50%;
  }
  html body .grid-item-width {
    width: 100%;
  }
  html body .ninja {
    display: block;
  }
  html body .empty {
    display: none;
  }
  html body .text {
    width: 100%;
    font-size: 12px;
    margin-bottom: 40px;
    margin-right: 0;
  }
  html body .media {
    width: 100%;
  }
  html body .mt1 {
    margin-top: 0px;
  }
  html body .realisation .title {
    position: relative;
  }
}
@media (max-width: 640px) {
  html body .mt1 {
    margin-top: 80px;
  }
  html body .menu {
    width: 100%;
  }
  html body .menu ul {
    margin: 0 1.04%;
  }
  html body .menu ul li a {
    margin: 46px 40px 45px 0;
  }
}
@media (max-width: 640px) and (max-height: 800px) {
  html body .blank {
    margin-top: 130px;
  }
}
@media (max-width: 480px) {
  html body .menu {
    width: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  html body .menu ul li {
    width: 33.3333%;
  }
  html body .menu ul li a {
    margin: 40px 0px 40px 0px;
  }
  html body .blank {
    margin-top: 170px;
  }
  html body .grid-sizer,
  html body .grid-item {
    width: 100%;
  }
  html body .grid-item-width {
    width: 100%;
  }
  html body .mt1 {
    margin-top: 60px;
  }
}
