
//====================COULEUR========================//

@white:#010101;
@black:#fff;
@grey:#ccc;

//====================VARIABLE========================//
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body{
    -ms-overflow-style: none;  // IE 10+
    overflow:-moz-scrollbars-none;  // Firefox
}
body::-webkit-scrollbar { 
    display:none;  // Safari and Chrome
}
html{
    width: 100%;
    height: 100%;

    body{

        background-color: @black;
        
        .regular{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
        }
        .bold{
            font-family: 'Open Sans', sans-serif;
            font-weight: 700;
        }
        .light{
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 3px;
        }

        width: 100%;
        height: 100%;

        #warpMenu{
            background: @black;
            width: 100%;
            height: 100px;
        }

        .wrapper{
            margin: 0 auto;
            width: 96vw;
            position: relative;
        }

        .wrapped{
            margin: 0 auto;
            width: 100%;
            position: relative;
            padding: 1vw;
            display: inline-block;
        }

        .fixed{
            position: fixed;
            top: 0;
            left: 0;
        }
        .full{
            margin: 0 auto;
            width: 96vw;
            z-index: 1;
            
        }
        .white{
            background-color: @white;
        }

        .column{
           margin: 0 0%;
       }
//====================HEADER========================//
.logo{
    color: @black;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    .light;
    width: 70px;
    height: 70px;
    background-size: contain;
    position: absolute;
    left: 0;
}

.menu{
   float: right;

   ul{
    list-style: none;
    li{
        float: left;

        a{
            margin: 46px 0 45px 30px;
            font-size: 1em;
            text-transform: uppercase;
            text-decoration: none;
            transition: all .5s ease-in-out;
            color: @grey;
            display: block;
            .light;
        } 
        a.active{
            color: @white ;
        }               
    }
    
}
.active{
    color: @white ;
}
}
//====================INDEX========================//
.title{
    h1{
        font-size: 1.5em;
        text-transform: uppercase;
        .light;
    }
}
.blank{
    margin-top: 99px;
    background: #010101;
}
.bottomblank{
    padding-top: 1vw;
}
.all{
    width: 100%;
}
//====================PROJECTS GRID========================//
.grid-sizer,
.grid-item {
  width: 33.3333333%;
}
.grid-item {
  float: left;
}
.item{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: @white;
    border: 1vw solid @white;

    img{
        width: 100%;
        display: block;
    }

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: grayscale 0.5s ease-in-out;
    -moz-transition: grayscale 0.5s ease-in-out;
    -o-transition: grayscale 0.5s ease-in-out;
    transition: grayscale 0.5s ease-in-out; 
        
    &:hover{
        -webkit-transition: grayscale 0.5s ease-in-out;
        -moz-transition: grayscale 0.5s ease-in-out;
        -o-transition: grayscale 0.5s ease-in-out;
        transition: grayscale 0.5s ease-in-out;                    
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
    }
}
.empty{
    div{
        height: 16.5vw;
    }
}
.info{
    opacity: 0;
    bottom: 0; left: 0; top: 0; right: 0;
    position: absolute;
    z-index: 0;

    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;  

    mark { 
      background-color: @black;
      color: @white;
      font-style: normal !important;
    }
    mark::before{ 
      content: " ";
      white-space: pre;
    }
    mark::after{ 
      content: " ";
      white-space: pre;
    }

    h2{
        font-size: 1.3em;
        text-transform: uppercase;
        color: @white;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        line-height: 30px;
    }
    h3{
        font-size: 0.9em;
        text-transform: lowercase;
        color: @white;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        line-height: 21px;
    }
    &:hover{

        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;                    
        opacity: 1;
    }
}
.infos{
        position: sticky;
        top: 12%;
}
//====================PROJECT========================//
.left{
   width: 40%;
   color: @black;
   float: left;
   display: block;
   padding: 1vw;

   h1{
        font-size: 1.5em;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        margin-bottom: 1vw 
    }
    h2{
        font-size: 1em;
        text-transform: uppercase;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        margin-bottom: 0.5vw;
        line-height: 22px;
    }
}
.text{
    font-size: 0.75em;
    line-height: 30px;
    .light;     
}
.right{
   width: 60%;
   display: inline-block;
   padding: 1vw;
}
.content{
    margin: auto;
    position: relative;
    margin-top: 100px; 
    width: 90%;
    display: contents;
}

.project_team{
    color: @black;
    clear: both;
    overflow: hidden;
    padding: 1vw;
    h2{
        text-transform: uppercase;
        text-align: left;
        position: relative;
        font-size: 1em;
        .light;
        margin-bottom: 1vw;
    }
    .team_column{
        width: 22%;
        margin-right: 3%;
        float: left;
        margin-bottom: 1vw;

        h2{
            font-size: 0.8em;
            font-weight: 400;
            line-height: 20px;
            .light;
            margin-bottom: 0.5vw;
            margin-top:0.5vw;
        }
        p{
            font-size: 0.8em;
            font-weight: 400;
            line-height: 20px;
            .light;
        }
    }
}

.column_img{
    padding: 0.5vw;
    margin-top: 100px;
    .img{
        width: 100%;
        background: black;
        background-size:cover;
        padding-top: 44.7%;
        margin-top:0.5vw;
        margin-bottom:0.5vw;
    }
}

.dual{
    width: 100%;
    overflow: hidden;
    div{
        width: 46vw !important;
        padding-top: 30% !important;
        float: left;

        &:first-child{
            margin-right:0.5vw;
        }
        &:last-child{
            margin-left:0.5vw;
        }
    }
}

.triple{
    width: 100%;
    overflow: hidden;
    .img{
        background-size:cover;
    }
    div{
        width: 30.33333333vw !important;
        padding-top: 30.33333333% !important;
        float: left;

        &:first-child{
            margin-right:0.5vw;
        }
        &:nth-child(2){
            margin-right:0.5vw;
            margin-left:0.5vw;
        }
        &:last-child{
            margin-left:0.5vw;
        }
    }
}
//====================Collectif========================//
.contact{
    margin-bottom: 1vw;
    h2{
        font-size: 1em;
        text-transform: uppercase;
        color: @black;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        margin-top: 25px;
    }
    a{
        font-size: 0.9em;
        text-transform: lowercase;
        color: @black;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        line-height: 25px;
        text-decoration: none;
        border-bottom: 2px solid currentColor;

        &:hover{ 
            color: @grey;
            border-bottom: 0px solid currentColor;
        }
    }
}

//====================Artistes========================//
.grid-sizer2,
.grid-item2 {
  width: 25%;
}
.grid-item2 {
  float: left;
}
.artist{
    width: 95%;
    margin: 0 auto;
    position: relative;
    background-color: @white;
    border: 1vw solid @white;
    img{
        width: 100%;
        display: block;
    }
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);        
}
.name{
    mark { 
      background-color: @black;
      color: @white;
      font-style: normal !important;
    }
    mark::before{ 
      content: " ";
      white-space: pre;
    }
    mark::after{ 
      content: " ";
      white-space: pre;
    }
    h2{
        font-size: 0.95em;
        text-transform: uppercase;
        color: @white;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        line-height: 22px;
    }
    h3{
        font-size: 0.8em;
        text-transform: lowercase;
        color: @white;
        text-align: left;
        position: relative;
        z-index: 2;
        .light;
        line-height: 19px;
    }
}
//====================FOOTER========================//
footer{
    font-size: 1em;
    color: @grey;
    .light;
    //margin: 30px 0;
    /*padding: 10px 0;*/
    background: @black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2vw;
}

@media (max-height:800px) {
//====================INDEX========================//
    .media{
            width: 55%
        }
    .mb1{
            margin-bottom: 10px;
    }
    .mb2{
            margin-bottom: 20px;
    }
}


//====================RESPONSIVE========================//
@media (max-width:1024px) {
//====================INDEX========================//
    .title{
        h1{
            font-size: 1.3em;
        }
    }
    .grid-sizer,
    .grid-item {
      width:33.33333333%;
      
    }
    .info{
        opacity: 1;
        h2{
            font-size: 0.9em;
            line-height: 20px;
        }
        h3{
            font-size: 0.75em;
            line-height: 18px;
        }
    }
    .infos{
        top:0%;
        position: relative;
    }
    .ninja{
        display: none;
    }
    .empty{
        div{
            height: 16.5vw;
        }
    }
    //====================PROJECT========================//
    .media{
        width: 60%;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
    //====================Artiste========================//
    .grid-sizer2,
    .grid-item2 {
      width: 25%;
    }
    .artist{
        width: 100%;
    }
    .name{
        h2{

        }
        h3{
        }
    }
}

@media (max-width:800px) {
    .menu{
        ul{
            li{
                a{
                    margin: 46px 0 45px 18px;
                    font-size: 0.9em;
                }
            }
        }
    }
    //====================INDEX========================//
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
    .grid-item-width {
      width: 100%;
    }
    .ninja{
        display: block;
    }
    .empty{
        display: none;
    }
    //====================PROJECT========================//

    .media{
        width: 100%;
    }
    .realisation{
        .title{
            position: relative;
        }
    }
}

@media (max-width:640px) {
    .menu{
        width: 100%;
        ul{
            margin: 0 1.04%;
            li{
                a{
                    margin: 46px 40px 45px 0;
                }
            }
        }
    }
    .grid-sizer2,
    .grid-item2 {
      width: 50%;
    }
    .name{
        mark::before{ 
          content: " ";
          white-space: pre;
        }
        mark::after{ 
          content: " ";
          white-space: pre;
        }
    }
}

@media (max-width:640px) {
    //====================INDEX========================//
    #warpMenu
    {
        height: 150px;
        .menu{
            width: 100%;
            float: left;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            ul{
                margin: 70px 0%;
                li{
                    width: 33.3333%;
                    text-align: center;
                    a{
                        margin: 40px 0px 40px 0px;
                    }

                }
            }
        }
    }

    .blank{
        margin-top: 149px;
        background: #010101;
    }

    .grid-sizer,
    .grid-item {
        width: 100%;
    }
    .grid-item-width {
      width: 100%;
    }
    .empty{
        display: none !important;
    }
    //====================PROJECT========================//
    .content{
        margin-top: 25px;
        h1{
            margin-bottom: 4vw;
        }
        h2{
            margin-bottom: 2vw;
        }

        .team_column {
            width: 50%;
            margin-bottom: 2vw;
        }
    }
    .column_img{
            .img{
                padding-top: 56.25%;
                margin-top: 1vw;
                margin-bottom: 1vw;
            }
        }
        .dual{
            div{
                width: 100% !important;
                padding-top: 56.25% !important;
                float: left;
            }
        }
        .triple{
            div{
                width: 100% !important;
                padding-top: 56.25% !important;
                float: left;
            }
        }
    .name{
        h2{
            font-size: 0.8em;
            letter-spacing: 2px;
            line-height: 20px;
        }
    }
}
}
}

